    body {
        font-family: __FNAME__, -apple-system, sans-serif; font-size: __FSIZE__pt; 
        line-height: 1.5; color: #24292e; padding: 10px;  margin: 0; word-wrap: break-word;
    }
    ul, ol { padding-left: 1.5em; margin-left: 0; }
    p, h1, h2, h3, h4 { margin-top: 0; margin-bottom: 10px; }
    code, pre { font-family: Consolas, monospace; background-color: #f6f8fa; border-radius: 3px; }
    table { border-collapse: collapse; width: 100%; margin-bottom: 16px; }
    th, td { border: 1px solid #d0d7de; padding: 6px 13px; }
    tr:nth-child(even) { background-color: #f6f8fa; }